* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #242424;
  color: beige;
}
.main-container {
  height: 100vh;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container-todo-form {
  display: flex;
  flex-direction: column;
  gap: 50px;

  align-items: center;
}
.container-todo-form input {
  font-size: 24px;
  color: #242424;
  width: 40vw;
  padding: 10px;
  border: 1px solid #242424;
  border-radius: 10px;
  height: 4vh;
}
.btn {
  padding: 10px 25px;
  font-size: 24px;
}

.todos {
  display: flex;
  gap: 20px;
  background-color: beige;
  color: #242424;
  width: 30vw;
  justify-content: space-between;
  height: 5vh;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
}
.btn_delete {
  background-color: red;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
}
